/*Boxsizing - Start*/

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    padding: 15px;
    margin: 10px 0; 
    float: left;
}

.vertLine {
  float:left;
  border-left: 2px solid #aaa;
  margin-left: 5px;
}
.col-1 {width: 15%;}
.col-2 {width: 32%;}
.col-3 {width: 49%;}
.col-4 {width: 66%;}
.col-5 {width: 83%;}
.col-6 {width: 100%;}

img {
    max-width: 100%;
    height: auto;
}
/*Boxsizing - End*/


/*HeaderMenu-Start*/
header {
    background-color: #522DB2;
    color: #ffffff;
    padding: 15px;
    overflow: auto;
    text-align: center;

    border-bottom: 2px solid black;
    border-radius: 8px;
}

header a {
    float: left;
    text-decoration: none;
}

.button-style{
    color: white;
    font-size: 16px;
    padding: 14px 16px;
}

.dropdown {
    float: left;
    overflow: auto;
}

.dropdown .dbutton {
    border: none;
    background-color: inherit;
}

header a:hover, .dbutton:hover {
    background-color: #999;
}

.hidden-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index:1; /*not behind other elements */
}

.hidden-menu a {
    display: block;
    float: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
    text-align: left;
}

.hidden-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover .hidden-menu {
    display: block;
}

.rightside {
    float:right;
}

/*HeaderMenu-End*/

body{
    background-color: #FFFAC0;
    margin: 20px;

}

main{
    background-color: #fff;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 7px 2px -2px #99abc9 inset;
}


footer {
background-color: #522DB2;
color: #ffffff;
border-top: 2px solid black;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
position: absolute;
right: 0;
bottom: 0;
left: 0;
}

