/*Boxsizing - Start*/
*,
*:before,
*:after  {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    padding: 15px;
    margin: 10px 0px 0px;
    float: left;
}


.vertLine {
  float:left;
  border-left: 2px solid #aaa;
  margin-left: 5px;
}
.col-1 {width: 15%;}
.col-2 {width: 32%;}
.col-3 {width: 49%;}
.col-4 {width: 66%;}
.col-5 {width: 83%;}
.col-6 {width: 100%;}

img {
    max-width: 100%;
    height: auto;
}
/*Boxsizing - End*/


/*HeaderMenu-Start*/
header {

    text-align: center;
}

header a {
    float: left;
    text-decoration: none;
}

.menu_wrapper {
    border: 1px solid black;
}

.button-style{
    color: black;
    font-size: 20px;
    padding: 14px 16px;
}

.dropdown {
    float: left;
}

.dropdown .dbutton {
    border: none;
    background-color: inherit;
}

header a:hover, .dbutton:hover {
    border-left: 2px solid black;
}

.hidden-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    z-index:1; /*not behind other elements */
}

.hidden-menu a {
    display: block;
    float: inherit;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    
    text-align: left;
}

.hidden-menu a:hover {
    background-color: #ccc;
    border-left: 2px solid black;
}

.dropdown:hover .hidden-menu {
    display: block;
}

.rightside {
    float:right;
}



/*HeaderMenu-End*/

html {
  height: 100%;
}

body{
  position: relative;
  margin: 20px;
  margin-bottom: 0px;
  min-height: 100%;
  font-size: 16px;
}

main{
    text-align: center;
    margin-top: 20px;
}


footer {
    background-color: #333333;
    color: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 12px;
}